.section-title {
  padding-bottom: 22px;

  border-bottom: 1px solid black;
}

.section-title {
  margin: 0;
  padding-bottom: 22px;

  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.88px;

  border-bottom: 1px solid black;
}

@media screen and (max-width: 600px) {
  .section-title {
    padding-bottom: 28px;

    font-size: 18px;
    letter-spacing: -0.72px;
  }
}
