.switch {
  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;

  user-select: none;

  .switch__controller {
    width: 36px;
    height: 20px;

    position: relative;

    display: flex;
    align-items: center;

    border-radius: 20px;

    transition: background-color .3s ease;

    background: #EBEBEB;

    &::before {
      width: 8px;
      height: 8px;

      position: absolute;
      left: 6px;

      content: "";

      border-radius: 50%;

      transition: left .3s ease;

      background: #F5F5F5;
    }
  }

  .switch__controller-checked {
    background: #2BE080;

    &::before {
      left: 22px;
      background: #FFFFFF;
    }
  }

  .switch__caption {
    color: #000;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */

    @media screen and (max-width: 600px) {
      font-size: 11px;
      font-weight: 400;
      line-height: 18px; /* 163.636% */
    }
  }
}
