.header__container {
  max-width: 1140px;
  height: 74px;

  margin: 0 auto;
  padding: 0 70px;

  display: flex;
  align-items: center;

  @media screen and (max-width: 900px) {
    max-width: 708px;
    padding: 0 30px;
  }

  @media screen and (max-width: 600px) {
    max-width: 292px;
    padding: 0 14px;
  }

  .header__nav {
    display: flex;
    align-items: center;
    gap: 16px;

    list-style: none;

    .header__nav-item {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 138.462% */

      transition: opacity .3s ease;

      cursor: pointer;

      color: #000;

      &:hover {
        opacity: .7;
      }
    }

    .header__nav-item_active {
      font-weight: 500;
    }
  }

  .header__profile {
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 17px;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;

    text-decoration: none;

    transition: opacity .3s ease;

    cursor: pointer;

    color: #000;

    &:hover {
      opacity: .7;
    }

    .header__profile-img {
      width: 26px;
      height: 30px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 4px;
      background: #F9F9F9;
    }

    .header__profile-img img {
      width: 12px;
      height: 14px;
    }
  }

  .header__actions {
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 600px) {
      gap: 14px;
    }

    .header__actions-link {
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px; /* 133.333% */

      text-decoration: none;

      transition: opacity .3s ease;

      cursor: pointer;

      color: #FFF;

      &:hover {
        opacity: .7;
      }

      @media screen and (max-width: 600px) {
        font-size: 10px;
      }
    }

    .header__actions-link-signin {
      color: #FFF;
    }

    .header__actions-link-signup {
      padding: 8px 20px;

      border-radius: 3px;

      color: #000;
      background: #2BE080;

      @media screen and (max-width: 600px) {
        padding: 5px 12px;
      }
    }
  }
}

.header-main {
  background-color: #465DFF;

  .header__nav {
    .header__nav-item {
      color: #FFFFFF;
    }
  }

  .header__profile {
    color: #FFFFFF;

    .header__profile-img {
      background: #2BE080;
    }
  }
}

