.main-promo {
  background-color: #465DFF;
}

.main-promo__container {
  padding: 75px 0;

  display: flex;
}

@media screen and (max-width: 980px) {
  .main-promo__container {
    padding: 140px 0 76px 0;

    flex-direction: column-reverse;
    gap: 48px;
  }
}

@media screen and (max-width: 420px) {
  .main-promo__container {
    padding: 70px 0 30px 0;

    flex-direction: column-reverse;
    gap: 44px;
  }
}

.main-promo__info {
  max-width: 630px;

  display: flex;
  flex-direction: column;
  gap: 146px;

  .main-promo__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  @media screen and (max-width: 980px) {
    .main-promo__info-wrapper {
      gap: 22px;
      text-align: center;
    }
  }

  @media screen and (max-width: 420px) {
    .main-promo__info-wrapper {
      gap: 24px;
    }
  }

  .main-promo__info-title {
    font-size: 50px;

    font-weight: 400;
    font-style: normal;
    line-height: 58px;
    color: #FFF;
  }

  @media screen and (max-width: 980px) {
    .main-promo__info-title {
      font-size: 40px;
      line-height: 50px;

      text-align: center;
    }
  }

  @media screen and (max-width: 420px) {
    .main-promo__info-title {
      font-size: 30px;
      line-height: 38px;
      letter-spacing: -1.2px;
    }
  }

  .main-promo__info-description {
    font-size: 13px;
    font-weight: 400;

    opacity: .5;

    color: #FFF;
  }

  @media screen and (max-width: 980px) {
    .main-promo__info-description {
      max-width: 260px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 980px) {
  .main-promo__info {
    margin: 0 auto;
    gap: 92px;
  }
}

@media screen and (max-width: 420px) {
  .main-promo__info {
    gap: 80px;
  }
}

.main-promo__info button {
  width: fit-content;

  padding: 10px 20px;

  font-size: 12px;
  font-weight: 500;
  line-height: 16px;

  cursor: pointer;

  border: 1px solid #FFF;
  border-radius: 3px;

  color: #FFF;
  background-color: transparent;
}

@media screen and (max-width: 980px) {
  .main-promo__info button {
    margin: 0 auto;
  }
}

.main-promo__image {
  margin-left: auto;
}

@media screen and (max-width: 420px) {
  .main-promo__image {
    width: 210px;
    height: 206px;
  }
}

@media screen and (max-width: 980px) {
  .main-promo__image {
    margin: 0 auto;
  }
}
