.not-found {
  max-width: 1280px;

  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-found__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.not-found__head {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.not-found__head__title {
  margin: 0;
  font-size: 140px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .not-found__head__title {
    font-size: 80px;
  }
}

.not-found__head__subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .not-found__head__subtitle {
    font-size: 12px;
  }
}

.not-found__back {
  width: 100%;
  margin: 0 auto;

  position: absolute;
  bottom: 60px;
  left: 0;

  font-size: 14px;
  font-weight: 400;

  text-align: center;
  text-decoration: none;

  color: #FF6838;
}

@media screen and (max-width: 900px) {
  .not-found__back {
    bottom: 222px;
  }
}

@media screen and (max-width: 600px) {
  .not-found__back {
    bottom: 30px;
    font-size: 12px;
  }
}
